body {
  text-align: center;
}

button.mdl-button {
  margin: 30px;
}

td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.placeholder {
    opacity: 0.5;
}

.canvas_container {
    position: relative;
}

.canvas_class {
    position:absolute; 
    top: 0px; 
    left: 0px; 
    width: 500px;
    height: 500px; 
}

#contextMenu{
  height: 0px; 
  width: 0px;
  border:1px solid green;
  background:white;
  list-style:none;
  padding:3px;
  visibility: hidden; 
}

.mdl-layout__header {
	min-height: 30px;
}

.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

